body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #000000;
    color: #f6ff00;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    color:#f6ff00;
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }